Bin/*
.VSCodeCounter/
/src/3_APP/APP_LGC/APP_CFG/*
/src/1_FMK/FMK_CFG/
/src/2_DRV/*
# Ignorer tout dans ce dossier
/src/3_APP/APP_LGC/Src/Logic/*

# Ne pas ignorer ces deux fichiers spécifiques
!/src/3_APP/APP_LGC/Src/Logic/APP_LGC.c
!/src/3_APP/APP_LGC/Src/Logic/APP_LGC.h
