[submodule "src/3_APP/APP_LGC/Src/Logic"]
	path = src/3_APP/APP_LGC/Src/Logic
	url = https://github.com/mbarbeau0545/PickerRbPOC
	branch = Dev
[submodule "src/2_DRV/Motor/drvCL42T"]
	path = src/2_DRV/Motor/drvCL42T
	url = https://github.com/mbarbeau0545/CL42T_MotorDrv
	branch = Dev
